@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Montserrat", sans-serif !important;
}


.modal-title {
  color: #000;
}

.btn-primary {
  background-color: #4a90e2;
  border-color: #4a90e2;
}

.btn-outline-primary {
  color: #4a90e2;
  border-color: #4a90e2;
}

.btn-outline-primary:hover {
  background-color: #4a90e2;
  color: #fff;
}
